.admin-top-bar .theme--light.v-app-bar.v-toolbar.v-sheet {
  background-color: #02a9f4 !important;
}
.admin-top-bar .logo-head {
  padding: 10px 0px;
  font-size: 24px;
  color: #277cee !important;
  font-family: "Pompiere", cursive;
  letter-spacing: 1px;
  height: auto;
}
.admin-top-bar .logo-head span {
  font-size: 11px !important;
  font-family: "Poppins", sans-serif !important;
}

.edit-iconon-invoice {
  position: relative;
  cursor: pointer;
  width: 65px;
  float: right;
  height: 65px;
}
.edit-invoices0 .v-icon {
  opacity: 0;
}
.edit-invoices0:hover .v-icon {
  position: absolute;
  z-index: 999;
  text-align: center;
  width: 65px;
  height: 65px;
  background: rgba(0, 0, 0, 0.3);
  top: 0%;
  left: 0px;
  opacity: 1;
  color: #fff !important;
  font-size: 15px !important;
}
.sidebar .v-list {
  padding: 0px !important;
}
.admin-top-bar .logo-head span.aletter {
  line-height: 46px;
  font-size: 36px !important;
  font-weight: bold;
  font-family: "Pompiere", cursive !important;
}
.v-list .v-list-item--active .v-icon,
.v-list .v-list-item--active .v-list-item__title {
  color: rgb(2 169 244) !important;
}
.sidebar {
  background-color: #ffffff !important;
  box-shadow: 2px 3px 4px #ddd !important;
}

button.new-client.v-btn {
  background-color: #02a9f4 !important;
  color: #fff !important;
}
.user-name {
  color: #fff !important;
}
.invoice-build {
  padding: 0px;
}
.invoice-build .items p {
  color: #898989;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.invoice-build p.subheading {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
}
.invoice-build .v-card__actions > .v-btn.v-btn {
  padding: 0 8px;
  width: 25%;
}
.invoice-build .v-card__title {
  line-height: 1rem;
  word-break: break-word;
  font-family: "Poppins", sans-serif;
}
.invoice-build .v-card__subtitle,
.invoice-build .v-card__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
}
.invoice-build .v-list-item__title {
  font-size: 16px;
  color: #5f5e5e;
  font-weight: 500;
  white-space: break-spaces;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
  padding: 10px 0px 0px;
  border-top: 1px solid #f1f1f1;
}
.invoice-build .v-list-item__title p {
  margin-bottom: 0px !important;
  line-height: 24px;
}
.addnew-invoice .v-input__prepend-outer {
  display: none !important;
}
.desc {
  font-size: 14px;
  color: #868a8c;
  text-align: left;
  letter-spacing: 0.4px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
.invoice-build .user-info p {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.invoice-build .user-info span {
  color: #558fce !important;
}
.invoice-build .profile-items {
  padding: 0px 0px;
  width: 25%;
}
.invoice-build .profile-items a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
.invoice-build .user-profile.grow {
  padding: 0px 0px !important;
  background: #fff;
  background-color: #ffff !important;
}
.invoice-build .main-timeline {
  position: relative;
  margin-top: 30px;
  margin-bottom: 150px;
}
.invoice-build .bottom-icons {
  margin-bottom: 20px;
}
.invoice-build .main-timeline:after {
  content: "";
  display: block;
  clear: both;
}
.invoice-build .main-timeline:before {
  content: "";
  border-left: 2px dotted #277cee;
  height: 100%;
  width: 3px;
  transform: translateX(-50%);
  position: absolute;
  left: 51%;
  top: 50px;
  z-index: 0;
}
.invoice-build .main-timeline .timeline {
  margin: 0 0 30px 0;
}
.invoice-build .main-timeline .timeline-content {
  color: #999;
  background: #fff;
  font-size: 0;
  text-align: center;
  padding-left: calc(50% + 50px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: block;
  position: relative;
}
.invoice-build .main-timeline .timeline-content:hover {
  text-decoration: none;
}
.invoice-build .main-timeline .timeline-year {
  color: #fff;
  background-color: #00a9f4;
  font-size: 16px;
  font-weight: 700;
  border-radius: 100px !important;
  transform: translateY(-50%);
  position: absolute;
  left: 46.8%;
  width: 50px;
  height: 50px;
  line-height: 48px;
  bottom: -95px;
  cursor: pointer;
  text-align: center;
  box-shadow: 1px 1px 12px 1px #e3eef3;
  border: 1px solid #00a9f4;
}
.invoice-build .main-timeline .timeline-year .v-icon {
  color: #fff !important;
}
.invoice-build .main-timeline .timeline-icon {
  color: #fff;
  font-size: 16px;
  line-height: 29px;
  padding: 6px;
  border-radius: 50px !important;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  bottom: -28.5%;
  z-index: 1;
}
.invoice-build .main-timeline .end-timeline {
  background: #277cee !important;
  color: #fff !important;
  font-weight: 500;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 39px !important;
}
.invoice-build .main-timeline .main-timeline .timeline-icon i.v-icon {
  font-size: 40px !important;
  color: #277cee !important;
}
.logo-admin.v-btn:focus::before {
  opacity: 0 !important;
}
.invoice-build h3 {
  font-size: 15px;
  line-height: 20px;
}
.invoice-build .user-profile .v-avatar {
  width: 60px !important;
  height: 60px !important;
}
.invoice-build .user-profile .v-list-item__title {
  padding: 3px 0 0 !important;
}
.logo-admin:focus {
  background-color: transparent !important;
}
.write-somethingtextarea textarea {
  padding-right: 12px;
  margin: 5px;
}
.invoice-build .user-info span.last-updated {
  color: #74787b !important;
}
.write-somethingtextarea .v-text-field {
  padding-top: 0px !important;
}
.admin-left-content h3 {
  padding-left: 20px;
  margin-bottom: 10px;
  border-left: 3px solid #277cee;
  background-color: #fff;
  padding: 10px;
  margin-top: 0;
  margin-left: 0px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  color: rgb(33 32 32) !important;
  font-size: 14px !important;
  background: #e8e8e8 !important;
}
.add-something-card {
  margin-bottom: 20px !important;
  max-width: 560px !important;
  margin: 0 auto;
}
.add-something-card .submit-btn {
  background: #277cee !important;
  color: #fff !important;
}
.add-new-invoice {
  background: #277cee !important;
  color: #fff !important;
  width: 100%;
  margin-top: 20px;
}
.logo-admin {
  box-shadow: none !important;
  background-color: #fff !important;
  height: 64px !important;
}
.autor-details {
  padding: 10px !important;
}
.v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
  font-size: 14px !important;
}
.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  font-size: 14px !important;
}
.edit-invoice-icon {
  position: absolute !important;
  right: 10px;
  top: 7px;
  z-index: 0;
}
.subscribe-box.admin-box {
  background: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 015px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%) !important;
}
.edit-invoice-icon .v-icon.mdi-delete {
  background-color: #f31100 !important;
  box-shadow: none !important;
  cursor: pointer;
  color: #fff !important;
  font-size: 20px !important;
  padding: 7px;
  border-radius: 50px !important;
}
.edit-invoice-icon .v-icon.mdi-pencil {
  background-color: #277cee !important;
  box-shadow: none !important;
  color: #fff !important;
  cursor: pointer;
  padding: 7px;
  font-size: 20px !important;
  border-radius: 50px !important;
}
.btn-primary,
.btn-secondary {
  font-family: "Poppins", sans-serif !important;
}
.back-icon {
  color: #fff !important;
  cursor: pointer;
}
.addnew-invoice .v-card__title {
  border-bottom: 1px solid #ddd !important;
  background: #277cee;
  color: #fff !important;
  font-family: "Poppins", sans-serif;
}
.addnew-invoice .v-card__title span.headline {
  font-size: 18px !important;
  font-weight: 600 !important;
  font-family: "Poppins", sans-serif;
}
.addnew-invoice .v-card .v-card__title {
  background: #fff !important;
}
.addnew-invoice .v-card__actions {
  border-top: 1px solid #ddd;
  background: #f7f7f7;
}
.addnew-invoice .btn-primary {
  background-color: #277cee !important;
  color: #fff !important;
  font-family: "Poppins", sans-serif !important;
}
.addnew-invoice .btn-secondary {
  background-color: #e2e2e2 !important;
  font-family: "Poppins", sans-serif !important;
}
.newinvoice.v-dialog > .v-card > .v-card__text {
  padding: 0px 24px 36px !important;
  font-family: "Poppins", sans-serif;
}
.addnew-invoice button.v-icon.mdi.mdi-close {
  display: none !important;
}
.addnew-invoice .image-upload-section {
  border: 2px dashed #ddd;
  border-radius: 4px;
  padding: 40px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.addnew-invoice .inner-content .v-icon {
  font-size: 24px;
  margin-bottom: 10px;
  padding-top: 20px;
}
.addnew-invoice .inner-content p {
  margin-bottom: 0;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  padding-bottom: 20px;
}
.main-timeline.trashClients:before {
  top: 0 !important;
}
.v-card .v-card__subtitle {
  line-height: 24px !important;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 10px !important;
}
tbody tr:nth-of-type(even) {
  background-color: rgba(236, 237, 237);
}

tbody tr:nth-of-type(odd) {
  background-color: rgb(250, 250, 250);
}

.v-data-table-header {
  background-color: rgba(182, 183, 187);
  color: white;
}
#loader-container {
  width: 100% !important;
}
.spinner {
  margin: 20px auto !important;
}
@media (max-width: 1366px) {
  .signup-form {
    width: 80%;
  }
  .invoice-build .main-timeline .timeline-year {
    left: 45.2%;
  }
  .invoice-build .main-timeline:before {
    height: 100%;
    left: 50%;
  }
  p.subheading {
    font-size: 11px !important;
  }
}
@media (min-width: 1025px) {
  .menu-btn-mobile {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 100% !important;
  }
  p.subheading {
    font-size: 10px !important;
  }
}
@media (max-width: 1024px) {
  .menu-btn-mobile {
    background-color: transparent !important;
    color: #fff !important;
    box-shadow: none !important;
  }
  .menu-btn-mobile .v-icon {
    font-size: 30px !important;
  }
  .admin-left-content {
    width: 95%;
  }
  .container {
    width: 100%;
  }
  .invoice-build .main-timeline .timeline-year {
    left: 45%;
  }
}
@media (min-width: 769px) {
  .desktop-hide {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .autor-details.v-card {
    position: relative;
    max-width: 560px;
    margin: auto;
  }
  .invoice-build .main-timeline:before {
    top: -32px !important;
  }
  .mobile-hide {
    display: none !important;
  }
  .autor-details.v-card {
    margin-top: 10px;
  }
  .back-icon.desktop-hide {
    color: #00a9f4 !important;
    margin-top: 0px !important;
    background: #fff;
    padding-left: 0px !important;
    border-radius: 4px;
    padding: 10px !important;
    margin-left: 78px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 5px 0px #bfb3b3;
  }
  .invoicepage {
    padding-bottom: 10px !important;
  }
  .addnew-invoice .image-upload-section {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .invoice-build .main-timeline {
    margin-bottom: 0px;
  }
  .back-icon.desktop-hide {
    margin-left: 0px !important;
  }
  .share-previewlink .v-image {
    width: 41% !important;
  }
  .post-invoice {
    overflow-y: scroll;
  }
  .share-previewlink .rightside-content div {
    word-break: break-all;
  }
  .invoicepage {
    padding-bottom: 20px !important;
  }
  .theme--light.v-data-table
    > .v-data-table__wrapper
    > table
    > thead
    > tr:last-child
    > th {
    border-bottom: 0px !important;
  }
  .theme--light.v-data-table
    > .v-data-table__wrapper
    > table
    > thead
    > tr
    > th {
    background-color: #fff !important;
  }
  .autor-details {
    margin-bottom: 30px !important;
  }
  .invoice-build .pr-6 {
    padding-right: 0px !important;
  }
  .invoice-build {
    width: 100%;
    padding: 0px;
  }
  .pagenotfound h1 {
    font-size: 2em !important;
  }
  .pagenotfound p {
    font-size: 1em !important;
  }
  .top-admin-bar .v-list-item {
    padding: 0px !important;
  }
  .invoice-build .main-timeline:before {
    height: 100%;
  }
}
.user-profile .v-list-item__title {
  border-top: 0px !important;
}
@media (max-device-width: 667px) and (max-device-height: 375px) {
  .invoice-build .main-timeline:before {
    left: 48% !important;
  }
}
@media (max-width: 540px) {
  .invoice-build .main-timeline .timeline-year {
    left: 45.1% !important;
  }
  .invoice-build .main-timeline:before {
    top: -30px !important;
  }
}
@media (max-width: 414px) {
  .invoice-build .main-timeline .timeline-year {
    left: 43% !important;
  }
}
@media (max-width: 375px) {
  .invoice-build .main-timeline .timeline-year {
    left: 43.3% !important;
  }
  .invoice-build .main-timeline:before {
    left: 51%;
  }
}
