body {
  background: #f5f5f5;
}
.pagenotfound a {
  color: #fff !important;
}
.primary {
  border-color: #277cee !important;
  background: #277cee !important;
}
#container {
  width: 1270px;
  max-width: 1270px;
}
.invoiceTitle {
  line-height: 20px;
}
.invoice-image {
  width: 65px;
  float: right;
  height: 65px;
}
.edit-invoices0 {
  position: absolute;
  width: 65px;
  height: 65px;
}
header.v-sheet {
  background: #fff !important;
}
.user-name {
  color: #fff;
}
.logo-head {
  font-size: 24px;
  color: #277cee !important;
  font-family: "Pompiere", cursive;
  letter-spacing: 1px;
  height: 64px;
  padding: 8px 0px;
}

.logo-head span {
  font-size: 13px !important;
  font-family: "Poppins", sans-serif !important;
}
.top-bar {
  background-color: #fff !important;
}
.logo-head div.dashboard-header-logo-wrapper {
  background-image: url("./assets/images/Invoice-logo.svg");
  background-position: left;
  padding: 22px 628px 28px 502px;
}
.invoice-setting-currency-wrapper {
  background-image: url("./assets/images/currency-usd.svg");
  background-position: left;
}
.invoice-setting-pencil-wrapper {
  background-image: url("./assets/images/pencil-outline.svg");
  background-position: left;
}

.dashboard-sidebar-document-wrapper {
  background-image: url("./assets/images/file-document.png");
  background-position: center;
}
.dashboard-sidebar-account-wrapper {
  background-image: url("./assets/images/account-multiple.png");
  background-position: center;
}
.dashboard-sidebar-settings-wrapper {
  background-image: url("./assets/images/cog-outline.png");
  background-position: center;
}
.dashboard-sidebar-logout-wrapper {
  background-image: url("./assets/images/logout-variant.svg");
  background-position: center;
}
.dashboard-sidebar-email-wrapper {
  background-image: url("./assets/images/email-outline.svg");
  background-position: center;
}
.dashboard-sidebar-logo-wrapper {
  background-image: url("./assets/images/invoice.svg");
  /* background-position: center; */
  padding: 57px;
}
.dashboard-sidebar-settings-wrapper {
  background-color: #41d0b6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem !important;
  width: 2.5rem;
  border-radius: 50px !important;
}

.dashboard-sidebar-email-wrapper {
  background-color: #e5e4ea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem !important;
  width: 2.5rem;
  border-radius: 50px !important;
}
.dashboard-sidebar-logout-wrapper {
  background-color: #e5e4ea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem !important;
  width: 2.5rem;
  border-radius: 50px !important;
}
.logo-head span.aletter {
  line-height: 46px;
  font-size: 32px !important;
  font-weight: bold;
  font-family: "Pompiere", cursive !important;
}
.v-list-item--active {
  opacity: 1 !important;
  border-left: 4px solid #277cee !important;
  color: #222 !important;
  background: #fff;
}
.v-list-item--active .v-list-item__title {
  color: #222 !important;
}
.invoicepage {
  background: #f2f2f2 !important;
}
.searchicon {
  position: absolute;
  left: 20px;
  top: 0px;
}
.search-block input {
  padding-left: 30px;
  width: 100%;
  color: #fff;
}
.search-block {
  position: relative;
}
.user-name {
  color: #fff;
}
.v-list {
  padding: 0px !important;
}
.new-client {
  background-color: #277cee !important;
  color: #fff;
}
.v-navigation-drawer__border {
  width: 0px !important;
}
.sidebar i.v-icon {
  color: #787878;
}
/***********login page********/

.signup-form {
  margin: 5% auto !important;
  width: 30%;
  border-radius: 10px !important;
  background-color: #f9f9f9 !important;
}
.signup-form .error span {
  text-align: left !important;
  margin: 0;
  font-size: 13px;
  color: red;
}
.signup-form .text-danger.error {
  text-align: left !important;
  padding: 0;
  margin: 0;
}
.signup-form .v-card__title {
  text-align: center;
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 5px;
  justify-content: center;
  font-size: 32px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
.signup-form .v-card__subtitle {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.signup-form .submit-btn {
  background-color: #277cee !important;
  font-family: "Poppins", sans-serif;
  height: 40px !important;
  min-width: 64px;
  padding: 0 16px;
  width: 100%;
  margin-top: 10px;
}
.signup-form img {
  border-radius: 10px;
}
.signup-form .v-label {
  font-family: "Poppins", sans-serif;
}
.signup-form .right-content {
  padding: 20px 40px;
  background: #fff;
  border-radius: 0 0 5px 5px;
}
.signup-form .right-content form.v-form.login-form {
  margin-top: 10px;
}

/******invoice-page*******/
.divider-bottom {
  background: #fff;
  padding: 0 10px;
}
.bottom-icons {
  padding: 10px 0;
  margin: auto !important;
  background: #fff;
}
.divide {
  border-right: 2px solid #ddd;
}
.invoice {
  padding: 0px 0px 40px 0;
  padding-left: 10px;
}
.items p {
  color: #898989;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.divider {
  height: 1px;
  background: #f2f2f2;
  margin-top: 5px;
  width: 100%;
}
p.subheading {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 13px;
}
.invoice .main-timeline .v-avatar {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
}
.invoice .main-timeline i.v-icon {
  font-size: 20px !important;
  margin-right: 3px;
}
.invoice .main-timeline .subheading {
  font-size: 16px;
}
.date {
  font-size: 13px;
}
.theme--light.v-btn:hover::before {
  opacity: 0 !important;
}
.invoice .v-card__subtitle {
  font-size: 14px !important;
  margin-top: 0px;
}
.invoice .v-card__title {
  line-height: 1.2rem;
  font-family: "Poppins", sans-serif;

  font-weight: bold;
  font-size: 1rem;
}
.invoice .v-card__subtitle,
.invoice .v-card__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
}
.share-icon-top {
  color: #277cee !important;
  font-size: 18px;
  background-color: transparent !important;
}
.invoice .v-list-item__title {
  font-size: 15px;
  margin-top: 0px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 0px 10px 0px;
  color: rgb(27 26 26 / 87%);
  white-space: unset;
}
.signup-form .v-messages__message {
  color: red !important;
}
.user-info p {
  font-size: 14px;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  /* text-decoration: underline; */
  color: #277cee;
}
.note-content p {
  font-size: 14px;
  color: #277cee;
  text-align: justify;
  margin-bottom: 5px;
  /* word-spacing: -2px; */
}
.profile-items {
  padding: 0px 20px;
  border-right: 1px solid #ddd;
  width: 33.333%;
}
.profile-items:last-child {
  border-right: 0px solid #ddd;
}
.bottom-icons {
  margin-top: 5px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.divider-bottom .v-list-item__title {
  margin-left: 0px !important;
  padding-left: 0px;
  font-weight: 600;
  margin-bottom: 0px;
}

.main-timeline {
  padding: 0px 0px 0 0px;
  position: relative;
}
.subscribe-form form {
  display: flex;
}
.subscribe-form input {
  min-width: 170px;
  height: 45px;
  width: 100%;
  border-radius: 5px 0 0 5px;
  background: transparent;
  border: 1px solid #c4c6e2;
  padding: 16px;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  color: #17192f;
  opacity: 0.5;
  font-family: "Poppins", sans-serif;
}
.subscribe-form button {
  height: 45px;
  width: 100%;
  max-width: 445px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  line-height: 0;
  vertical-align: top;
  cursor: pointer;
  color: #fff;
  border: 0;
  border-radius: 0px 5px 5px 0px;
  background: #277cee;
  box-shadow: 0 4px 10px hsl(196deg 99% 47% / 20%);
  transition: 0.1s ease-in;
}
.registerbtn {
  background-color: #1e79f2 !important;
  color: #fff !important;
}
.invoice .main-timeline:after {
  content: "";
  display: block;
  clear: both;
}
.invoice .main-timeline:before {
  content: "";
  border-left: 2px dotted #277cee;
  height: 100%;
  width: 3px;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 50px;
  z-index: 0;
}
.invoice .main-timeline .timeline {
  margin: 0 0 30px 0;
}
.invoice .main-timeline .timeline-content {
  color: #999;
  background: #fff;
  font-size: 0;
  text-align: center;
  padding-left: calc(50% + 50px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: block;
  position: relative;
}
.invoice .main-timeline .timeline-content:hover {
  text-decoration: none;
}
.input-subscribe {
  border: 1px solid #ddd;
}
.invoice .main-timeline .timeline-year {
  color: #fff;
  background-color: #474050;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 8px;
  transform: translateY(-50%);
  position: absolute;
  left: 20%;
  bottom: -24.5%;
}
.invoice .main-timeline .timeline-icon {
  color: #fff;
  font-size: 16px;
  line-height: 29px;
  padding: 6px;
  border-radius: 50px !important;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  width: 50px;
  height: 50px;
  bottom: -99px;
  z-index: 1;
}
.invoice .end-timeline {
  background: #277cee !important;
  color: #fff !important;
  font-weight: 500;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 39px !important;
}
.invoice .main-timeline .timeline-icon i.v-icon {
  font-size: 40px !important;
  color: #277cee !important;
}
.invoice .main-timeline .inner-content {
  padding: 20px;
}
.invoice .main-timeline .title {
  color: #474050;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 5px;
}
.invoice .main-timeline .description {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
}
.invoice .main-timeline .timeline:nth-child(even) .timeline-content {
  padding-left: 0;
  padding-right: calc(50% + 50px);
}
.invoice .main-timeline .timeline:nth-child(even) .timeline-year {
  left: auto;
  right: 20%;
}
.invoice .main-timeline .timeline:nth-child(4n + 2) .timeline-icon {
  background-color: #fc7f25;
}
.invoice .main-timeline .timeline:nth-child(4n + 3) .timeline-icon {
  background-color: #8358b5;
}
.invoice .main-timeline .timeline:nth-child(4n + 4) .timeline-icon {
  background-color: #a7d815;
}
.v-application--is-ltr .v-card__actions > .v-btn.v-btn + .v-btn {
  margin-left: 0 !important;
}

.last-updated {
  font-size: 12px;
  color: #525254;
  margin-top: 4px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.v-btn--fab.v-size--small {
  height: 40px;
  margin-right: 4px;

  width: 40px;
  border: 1px solid #ddd;
  border-radius: 0px !important;
  text-align: center;
}
.heart-icon {
  color: red !important;
}
.bottom-commentsection {
  margin-bottom: 30px !important;
}
.bottom-commentsection .v-btn.active {
  color: red !important;
}
.searchicon {
  position: absolute;
  left: 20px;
  top: 0px;
}
.search-block input {
  padding-left: 30px;
  width: 100%;
  color: #fff;
}
.search-block {
  position: relative;
}
.user-name {
  color: #fff;
}
.new-client {
  background-color: #277cee !important;
  color: #fff;
}
.invoicepage {
  background-color: #f5f5f5 !important;
}
.v-navigation-drawer__border {
  width: 0px !important;
}
.registerbtn {
  background-color: #277cee !important;
  color: #fff !important;
  width: 110px;
}
button.v-btn.v-btn--fab.v-btn--icon.v-btn--round.theme--light.v-size--small.indigo--text {
  background: #4267b2 !important;
}
button.v-btn.v-btn--fab.v-btn--icon.v-btn--round.theme--light.v-size--small.cyan--text.text--darken-1 {
  background: #1da1f2 !important;
}
button.v-btn.v-btn--fab.v-btn--icon.v-btn--round.theme--light.v-size--small.red--text.text--lighten-3 {
  background: #d44638 !important;
}
.v-timeline-item__dot.v-timeline-item__dot--large {
  display: none !important;
}
.v-application--is-ltr .v-timeline--dense:not(.v-timeline--reverse):before {
  left: 45% !important;
}
.logo-head {
  font-size: 24px;
  color: #277cee !important;
  font-family: "Pompiere", cursive;
  letter-spacing: 1px;
}
.logo-head span {
  font-size: 13px !important;
  font-family: "Poppins", sans-serif !important;
}
.top-btns {
  margin-top: 12px;
  text-align: right;
}

.invoice .grow.user-profile {
  background: #fff !important;
  padding: 10px 0 !important;
}
.divider-bottom {
  background: #fff;
  padding: 0 10px;
}
.share-icon-top {
  min-width: 30px !important;
  padding: 0 0px !important;
}
.bottom-icons {
  padding: 10px 0;
  margin: auto !important;
  background: #fff;
}
.invoice .main-timeline .share-icon-top i.v-icon {
  font-size: 18px !important;
  margin-right: 0px;
}
.profile-items {
  padding: 0px 7px;
  border-right: 1px solid #ddd;
  width: 33.33%;
}
p.subheading {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 0 !important;
  font-size: 13px;
}
.loginpage {
  background: #ededed !important;
  width: 100%;
  left: 0;
  height: 100%;
  bottom: 0;
  top: 0;
  overflow-y: auto;
  height: 100%;
  right: 0;
  position: fixed;
}
.userFront .v-avatar {
  height: 60px !important;
  min-width: 40px;
  width: 60px !important;
}
/**Welcome--page******/
.welcome-section {
  padding: 0px 0;
}
.welcome-section h2 {
  color: #277cee;
  margin-bottom: 20px;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
}
.welcome-left {
  padding: 60px 0;
  font-family: "Poppins", sans-serif;
}
.welcome-left p {
  color: #969696 !important;
  font-family: "Poppins", sans-serif;
  font-size: 15px !important;
  line-height: 24px;
  letter-spacing: 0.6px;
}
.welcome-section .v-card {
  border-top: 1px solid #f1f1f1;
  background-color: #f9f9f9 !important;
  padding: 40px 0;
}
.welcome-section .v-card img {
  width: 100%;
}
button.welcome-login {
  box-shadow: none;
  background-color: #277cee !important;
  color: #fff !important;
  margin-top: 20px;
}
.invite {
  padding: 60px 0;
  text-align: center;
  background: #277cee;
}
.invite h3 {
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.invite .v-btn {
  box-shadow: none;
  background-color: #fff !important;
  color: #277cee !important;
  margin-top: 20px;
}
.invoice-selector {
  padding: 60px 0;
  text-align: center;
}
.invoice-selector h3 {
  text-align: center;
  color: #666666;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.invoice-img {
  text-align: center;
}
.invoice-content {
  padding-top: 100px;
}
.invoice-selector .v-btn {
  /* box-shadow: none; */
  background-color: #277cee !important;
  color: #fff !important;
  margin-top: 20px;
}
.v-messages__message {
  color: red !important;
}
.swal2-container {
  font-family: "Poppins", sans-serif;
}
.lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
  z-index: 999;
}

.lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
  top: 0px;
}
.lightbox {
  display: flex;
}
/*********pagenotfound*******/
.pagenotfound {
  background-color: #969696 !important;
  color: #fff !important;
  font-size: 100%;
  height: 100%;
  text-align: center;
  /* padding:20% 0; */
  width: 100%;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.pagenotfound .button {
  font-weight: 300;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  border: 1px solid #efefef;
  padding: 0.5em;
  border-radius: 3px;
  float: left;
  margin: 6em 0 0 -155px;
  left: 50%;
  position: relative;
  transition: all 0.3s linear;
}

.pagenotfound .button:hover {
  background-color: #007aff;
  color: #fff;
}
.pagenotfound h4 {
  font-size: 4em;
  text-align: center;
  font-weight: 100;
  color: #fff !important;
  text-decoration: none;
}
.pagenotfound p {
  font-size: 1.8em;
  text-align: center;
  font-weight: 100;
  margin-top: 20px;
  color: #fff !important;
  text-decoration: none;
}

.pagenotfound h1 {
  text-align: center;
  font-size: 5em;
  font-weight: 600;
  text-shadow: #0062cc 1px 1px, #0062cc 2px 2px, #0062cc 3px 3px,
    #0062cd 4px 4px, #0062cd 5px 5px, #0062cd 6px 6px, #0062cd 7px 7px,
    #0062ce 8px 8px, #0063ce 9px 9px, #0063ce 10px 10px, #0063ce 11px 11px,
    #0063cf 12px 12px, #0063cf 13px 13px, #0063cf 14px 14px, #0063cf 15px 15px,
    #0063d0 16px 16px, #0064d0 17px 17px, #0064d0 18px 18px, #0064d0 19px 19px,
    #0064d1 20px 20px, #0064d1 21px 21px, #0064d1 22px 22px, #0064d1 23px 23px,
    #0064d2 24px 24px, #0065d2 25px 25px, #0065d2 26px 26px, #0065d2 27px 27px,
    #0065d3 28px 28px, #0065d3 29px 29px, #0065d3 30px 30px, #0065d3 31px 31px,
    #0065d4 32px 32px, #0065d4 33px 33px, #0066d4 34px 34px, #0066d4 35px 35px,
    #0066d5 36px 36px, #0066d5 37px 37px, #0066d5 38px 38px, #0066d5 39px 39px,
    #0066d6 40px 40px, #0066d6 41px 41px, #0067d6 42px 42px, #0067d6 43px 43px,
    #0067d7 44px 44px, #0067d7 45px 45px, #0067d7 46px 46px, #0067d7 47px 47px,
    #0067d8 48px 48px, #0067d8 49px 49px, #0068d8 50px 50px, #0068d9 51px 51px,
    #0068d9 52px 52px, #0068d9 53px 53px, #0068d9 54px 54px, #0068da 55px 55px,
    #0068da 56px 56px, #0068da 57px 57px, #0068da 58px 58px, #0069db 59px 59px,
    #0069db 60px 60px, #0069db 61px 61px, #0069db 62px 62px, #0069dc 63px 63px,
    #0069dc 64px 64px, #0069dc 65px 65px, #0069dc 66px 66px, #006add 67px 67px,
    #006add 68px 68px, #006add 69px 69px, #006add 70px 70px, #006ade 71px 71px,
    #006ade 72px 72px, #006ade 73px 73px, #006ade 74px 74px, #006bdf 75px 75px,
    #006bdf 76px 76px, #006bdf 77px 77px, #006bdf 78px 78px, #006be0 79px 79px,
    #006be0 80px 80px, #006be0 81px 81px, #006be0 82px 82px, #006be1 83px 83px,
    #006ce1 84px 84px, #006ce1 85px 85px, #006ce1 86px 86px, #006ce2 87px 87px,
    #006ce2 88px 88px, #006ce2 89px 89px, #006ce2 90px 90px, #006ce3 91px 91px,
    #006de3 92px 92px, #006de3 93px 93px, #006de3 94px 94px, #006de4 95px 95px,
    #006de4 96px 96px, #006de4 97px 97px, #006de4 98px 98px, #006de5 99px 99px,
    #006ee5 100px 100px, #006ee5 101px 101px, #006ee6 102px 102px,
    #006ee6 103px 103px, #006ee6 104px 104px, #006ee6 105px 105px,
    #006ee7 106px 106px, #006ee7 107px 107px, #006ee7 108px 108px,
    #006fe7 109px 109px, #006fe8 110px 110px, #006fe8 111px 111px,
    #006fe8 112px 112px, #006fe8 113px 113px, #006fe9 114px 114px,
    #006fe9 115px 115px, #006fe9 116px 116px, #0070e9 117px 117px,
    #0070ea 118px 118px, #0070ea 119px 119px, #0070ea 120px 120px,
    #0070ea 121px 121px, #0070eb 122px 122px, #0070eb 123px 123px,
    #0070eb 124px 124px, #0071eb 125px 125px, #0071ec 126px 126px,
    #0071ec 127px 127px, #0071ec 128px 128px, #0071ec 129px 129px,
    #0071ed 130px 130px, #0071ed 131px 131px, #0071ed 132px 132px,
    #0071ed 133px 133px, #0072ee 134px 134px, #0072ee 135px 135px,
    #0072ee 136px 136px, #0072ee 137px 137px, #0072ef 138px 138px,
    #0072ef 139px 139px, #0072ef 140px 140px, #0072ef 141px 141px,
    #0073f0 142px 142px, #0073f0 143px 143px, #0073f0 144px 144px,
    #0073f0 145px 145px, #0073f1 146px 146px, #0073f1 147px 147px,
    #0073f1 148px 148px, #0073f1 149px 149px, #0074f2 150px 150px,
    #0074f2 151px 151px, #0074f2 152px 152px, #0074f3 153px 153px,
    #0074f3 154px 154px, #0074f3 155px 155px, #0074f3 156px 156px,
    #0074f4 157px 157px, #0074f4 158px 158px, #0075f4 159px 159px,
    #0075f4 160px 160px, #0075f5 161px 161px, #0075f5 162px 162px,
    #0075f5 163px 163px, #0075f5 164px 164px, #0075f6 165px 165px,
    #0075f6 166px 166px, #0076f6 167px 167px, #0076f6 168px 168px,
    #0076f7 169px 169px, #0076f7 170px 170px, #0076f7 171px 171px,
    #0076f7 172px 172px, #0076f8 173px 173px, #0076f8 174px 174px,
    #0077f8 175px 175px, #0077f8 176px 176px, #0077f9 177px 177px,
    #0077f9 178px 178px, #0077f9 179px 179px, #0077f9 180px 180px,
    #0077fa 181px 181px, #0077fa 182px 182px, #0077fa 183px 183px,
    #0078fa 184px 184px, #0078fb 185px 185px, #0078fb 186px 186px,
    #0078fb 187px 187px, #0078fb 188px 188px, #0078fc 189px 189px,
    #0078fc 190px 190px, #0078fc 191px 191px, #0079fc 192px 192px,
    #0079fd 193px 193px, #0079fd 194px 194px, #0079fd 195px 195px, #0079fd 196p;
}
.nofoundcontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-primary,
.btn-secondary {
  font-family: "Poppins", sans-serif !important;
}
.btn-primary {
  background-color: #277cee !important;
  color: #fff !important;
}
.btn-secondary {
  background-color: #f5f5f5 !important;
}
.top-bar {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 6%), 0px 4px 5px 0px rgb(0 0 0 / 0%),
    0px 1px 10px 0px rgb(0 0 0 / 8%) !important;
}
.v-data-table > .v-data-table__wrapper > table > tbody > td:last-child {
  display: flex !important;
  margin-top: 37px !important;
}
.email-verify > .v-card > v-text-field {
  font-family: "Roboto", sans-serif !important;
}
.alert-msg-error .v-alert__content {
  font-family: "Roboto", sans-serif;
}
button.email-verify-btn {
  font-family: "Roboto", sans-serif !important;
  box-shadow: none !important;
  margin-top: 10px;
}
.email-verify .v-card > .v-card__actions {
  align-items: flex-start;
  display: flex;
  padding: 8px;
  justify-content: flex-start;
  padding-left: 15px !important;
}
button.click-here-btn {
  background: transparent !important;
  color: #fff !important;
  text-decoration: underline;
  cursor: pointer;
  height: 28px !important;
  padding: 0 0px !important;
}
button.click-here-btn span {
  color: #fff !important;
}
a.link_style {
  text-decoration: none !important;
  text-transform: lowercase;
}
img.invoice-image-viewer {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding-bottom: 0;
  margin-bottom: 0px;
}
.invoiceslide .v-slider--horizontal {
  margin-left: 0px !important;
  margin-right: 0 !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.alert-msg-error .v-alert__icon.v-icon {
  font-size: 40px;
  margin-right: 16px;
}
.alert-msg-error .v-alert__content {
  font-size: 16px;
  /* margin-top: 4px; */
}
.alert-msg-error .v-btn {
  height: 24px;
  min-width: 64px;
  padding: 4px 7px;
  background: #fff;
  margin-top: 2px;
  margin-left: 3px;
}
.email-verify {
  margin: 8% auto;
  text-align: center;
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
}
.email-verify .email-alert {
  width: 400px;
  margin: 10px auto;
  text-align: left;
}
.email-verify h2 {
  background: #277cee;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
  letter-spacing: 1px;
  border-radius: 10px 10px 0 0;
  list-style: 24px !important;
}
.email-verify .email-verify-content {
  padding: 20px;
}
@media (min-width: 1366px) {
  .logo-head {
    padding: 8px 12px;
  }
}
@media (max-width: 1366px) {
  .invoice {
    padding-left: 3px;
  }
  .signup-form {
    width: 50%;
  }
  .profile-items {
    padding: 0px 15px;
  }
}
@media (max-width: 1024px) {
  img.invoice-image-viewer {
    object-fit: fill;
  }
  .welcome-left {
    padding: 4px 0px 0 60px;
    font-family: "Poppins", sans-serif;
  }
  .logo-head {
    padding: 8px 0px;
  }
  .signup-form {
    width: 100%;
  }
  .v-btn--fab.v-size--small {
    height: 34px !important;
    width: 34px !important;
  }
  .profile-items {
    padding: 0px 5px;
  }
  #container {
    width: 100%;
  }
}
@media (min-width: 769px) {
  .mobile-title,
  .mobile-slider-block {
    display: none;
  }
}
@media (min-width: 769px) {
  .mobile-bar {
    display: none;
  }
  .mobile-block {
    display: none;
  }
}
@media (min-width: 768px) {
  img.invoice-image-viewer {
    width: 100%;
    height: auto;
    max-height: 300px;
  }
  .top-admin-bar .grow.v-list-item {
    padding-right: 0px !important;
  }
  .left-content {
    max-width: 560px;
    margin: 0px auto;
  }
}
@media (max-width: 768px) {
  .invoice {
    padding-left: 0px;
  }
  .web-slider {
    display: none !important;
  }
  .mobile-block {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-radius: 4px 4px;
    background-color: #fff;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
      0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  }
  .divider-bottom {
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
      0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  }
  .invite .v-input input {
    border-radius: 5px !important;
    margin-bottom: 0px !important;
  }
  .invite .form-group {
    margin: 0 auto;
  }
  .invite .v-input {
    min-width: 320px;
  }
  .pagenotfound h4 {
    font-size: 26px !important;
    margin-top: 20px;
  }
  .invite form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }
  .invoice-img img {
    width: 100%;
  }
  .invoice-content {
    padding-top: 20px;
  }
  .invite button {
    border-radius: 5px;
    max-width: 100%;
  }
  .invite input {
    margin-bottom: 20px;
    min-width: 100%;
    border-radius: 5px;
  }
  .invite h3 {
    font-size: 24px;
  }
  .welcome-section .v-card {
    padding: 0px 20px;
  }
  .welcome-left {
    padding: 36px 0 0;
  }
  .signup-form.v-card {
    height: 100% !important;
    max-height: 100% !important;
    width: 100%;
  }
  #container {
    width: 100%;
  }
  .px-15 {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  .top-btns .v-icon {
    color: #277cee !important;
  }
}
@media (min-width: 768px) {
  .divider-bottom,
  .mobile-block {
    max-width: 560px;
  }
}
@media (max-width: 767px) {
  .loginpage {
    height: 100%;
  }
  .logo-head span {
    font-size: 10px !important;
    font-family: "Poppins", sans-serif !important;
  }
  .logo-head {
    font-size: 18px;
  }
  .logo-head span.aletter {
    font-size: 24px !important;
  }
  .welcome-section h2 {
    font-size: 24px;
    text-align: center;
  }
  .welcome-section p {
    text-align: center;
  }
  .invoice-selector h3 {
    font-size: 16px;
  }
  .signup-form .right-content {
    padding: 20px 15px;
  }
  .invoice {
    width: 100%;
  }
  .logout-btn {
    display: none;
  }
  .admin-left-content {
    width: 100%;
    margin-bottom: 20px;
  }
  .invoice-build .main-timeline .timeline-year {
    left: 42.1%;
  }
  .v-toolbar__content,
  .v-toolbar__extension {
    padding: 4px 4% 4px 15px !important;
  }
  .invoice .main-timeline .timeline-content,
  .invoice .main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 10px 20px 220px;
  }
  .invoice .main-timeline .timeline-year,
  .invoice .main-timeline .timeline:nth-child(even) .timeline-year {
    transform: translateX(-50%) translateY(0);
    top: calc(100% - 80px);
    left: 50%;
    right: auto;
    z-index: 1;
  }
  .invoice .main-timeline .timeline-icon {
    transform: translateX(-50%) translateY(0);
    /* top: calc(100% - 200px); */
    left: 50%;
  }
  .invoice .main-timeline .inner-content {
    background-color: #fff;
    padding: 10px 0;
    border-radius: 20px;
    position: relative;
    z-index: 1;
  }
  .edit-icon-front .v-icon {
    font-size: 18px !important;
    color: #277cee !important;
  }
  .signup-form .row {
    display: block;
  }
  .signup-form {
    text-align: center;
    margin: 20% auto !important;
  }
  .invoice .main-timeline i.v-icon {
    font-size: 17px !important;
    margin-right: 1px;
  }
}
@media (max-width: 767px) {
  .divider-bottom,
  .mobile-block {
    max-width: 380px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 375px) {
  .registerbtn {
    width: 115px;
  }
}
@media (max-width: 320px) {
  .rc-anchor-normal {
    height: 74px;
    width: 266px !important;
  }
  .rc-anchor-normal .rc-anchor-pt {
    width: 198px !important;
    right: 51px !important;
  }
}

/* Invoice Generator css */

* {
  margin: 0px;
  padding: 0px;
}
.v-list-item--link:hover:before {
  background-color: #257eff !important;
  bottom: 0;
  content: "";
  left: 0;
  color: #fff !important;
  opacity: 1 !important;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
.v-list-item__content:hover {
  color: #fff !important;
  z-index: 999;
}
.invoice-box .v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: 40px !important;
}
.currency-symbol-mainwrapper
  .v-select.v-text-field--outlined:not(.v-text-field--single-line)
  .v-select__selections {
  padding: 0px !important;
}
td.new-tax-rateselect
  .v-select.v-text-field--outlined:not(.v-text-field--single-line)
  .v-select__selections {
  padding: 0px !important;
}
.template-selectbox-wrapper
  .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
  > .v-input__control
  > .v-input__slot
  fieldset {
  border: 1px solid #f6f5f9 !important;
  outline: none;
  background-color: #f6f5f9;
}
.template-selectbox-wrapper
  .v-text-field--outlined
  > .v-input__control
  > .v-input__slot {
  border: none !important;
}
.template-selectbox-wrapper {
  position: relative;
}
.template-selectbox-wrapper::after {
  content: "";
  position: absolute;
  top: 14px;
  /* background-image: url("./assets/images/select-icon.svg"); */
  width: 60px;
  right: 10px;
  height: 60px;
}

.v-text-field--outlined > .v-input__control > .v-input__slot {
  border: 1px solid #dbdff3 !important;
  background-color: #fff !important;
}
.invoice-modalwrapper
  .v-text-field--outlined
  > .v-input__control
  > .v-input__slot {
  min-height: 40px !important;
}
.sender-modal-mainwrapper
  .v-text-field--outlined
  > .v-input__control
  > .v-input__slot {
  min-height: 45px !important;
  border-color: 1px solid #dbdff3 !important;
  border-radius: 3px !important;
}
.currency-symbol-mainwrapper
  .v-text-field--outlined
  > .v-input__control
  > .v-input__slot {
  min-height: 30px !important;
}
table.summary-table-mainwrapper {
  width: 40% !important;
  float: right;
}
table.summary-table-mainwrapper thead tr {
  background: #f5f5f5;
  text-align: center;
  padding: 8px 2px;
  font-size: 14px;
}
table.summary-table-mainwrapper thead tr td {
  font-weight: 700;
}
table.summary-table-mainwrapper tbody tr td {
  font-size: 14px;
}
.add-new-iteamswrapper button {
  width: 100%;
  box-shadow: none !important;
  background-color: #fbfbfb !important;
  color: #888 !important;
  font-size: 14px !important;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  height: 50px !important;
  border: 2px dashed #ddd;
}
.add-new-iteamswrapper button:hover {
  background-color: #fff !important;
  box-shadow: none !important;
  border: 2px solid #257eff;
  color: #257eff !important;
}
.add-new-iteamswrapper button::before {
  opacity: 0 !important;
}
.add-new-iteamswrapper {
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.invoice-summary-wrapper {
  background: #f5f5f5;
  text-align: center;
  padding: 8px 2px;
  font-size: 14px;
  border-top: 1px solid #ddd;
}
.subtotal-heading {
  text-align: left;
  border-top: 1px solid #ddd;
  font-size: 14px;
}
.subtotal-value {
  text-align: right;
  border-top: 1px solid #ddd;
  font-size: 14px;
}
.description-mainwrapper {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  background-color: #fbfbfb;
}
.input-terms-mainwrapper input::placeholder {
  font-style: italic !important;
  font-size: 14px !important;
}
.input-terms-mainwrapper input {
  width: 100%;
  border: 2px dashed #ddd;
  height: 40px;
  padding-left: 15px;
}
.input-terms-mainwrapper input:focus-visible {
  outline: none;
}
.input-terms-mainwrapper input:hover {
  border: 2px solid #257eff;
}
.sender-contentbodywrapper {
  background-image: url("./assets/images/sender-name.svg");
  background-size: 33px;
  padding-left: 5px;
}
.recipientbackground-wrapper {
  background-image: url("./assets/images/recipient-name.svg");
  background-size: 33px;
  padding-left: 5px;
}
.drag-filebackground {
  background-image: url("./assets/images/drag-file.svg");
  background-size: 36px;
  padding-left: 50px;
  background-position: left;
}
.sender-contentbodywrapper span i {
  display: none;
}
.recipientbackground-wrapper span i {
  display: none;
}
.invoice-summary-wrapper h2 {
  font-size: 16px;
}
.invoice-box table tr.heading td {
  font-size: 13px;
  padding: 8px 10px;
  font-weight: 800;
  background: #f5f5f5;
  text-align: left;
  color: #3d3c40;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.invoice-type-innerwrapper {
  text-align: left;
  height: auto !important;
  position: relative;
  padding: 0px 0px 18px 15px;
  border: 2px dashed #fff;
}
.invoice-type-innerwrapper-one {
  text-align: left;
  height: auto !important;
  position: relative;
  padding: 0px 0px 44px 15px;
  border: 2px dashed #fff;
}
.select-fileinner-wrapper {
  width: 75px;
}
.select-fileinner-wrapper:hover {
  background-color: #285cff;
  color: #fff !important;
  height: 100%;
  border-radius: 3px 3px 0px 0px;
  cursor: default;
}
.select-fileinner-wrapper:hover p {
  color: #fff !important;
  cursor: default;
}
.invoice-box table.responsive-table tbody {
  position: relative;
  background-color: #fbfbfb;
}
.invoice-box table.responsive-table tbody:hover .table-delete-edit-btnwrapper {
  opacity: 1;
  border-bottom: none;
}
.table-delete-edit-btnwrapper {
  position: absolute;
  top: 10px;
  right: -39px;
  opacity: 0;
}
.table-delete-edit-btnwrapper i {
  color: #bbb;
  margin-right: 10px;
  font-size: 15px;
}
.table-delete-edit-btnwrapper i.pencil-iconwrapper:hover {
  color: #000 !important;
}
.table-delete-edit-btnwrapper i.trash-iconwrapper:hover {
  color: #000 !important;
}
.getlink-modalwrapper .v-card__text p {
  color: #333;
  font-size: 15px;
}
.delete-invoicemodal p {
  font-size: 20px !important;
  padding: 20px 0px;
}
.delete-invoicemodal .v-card__text {
  padding: 25px 8px 10px !important;
}
.delete-invoice-modalbtnwrapper {
  text-align: right;
}
.delete-invoice-modalbtnwrapper button.delete-btnwrapper {
  color: #fff !important;
  background-color: #ea736a !important;
  box-shadow: none !important;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 13px;
  height: 32px !important;
  border-radius: 3px;
}
.delete-invoice-modalbtnwrapper button.cancel-btnwrapper {
  text-transform: capitalize;
  font-size: 13px;
  box-shadow: none !important;
  height: 32px !important;
  border-radius: 3px;
  background: #285cff !important;
  color: #fff !important;
}
.invoice-details-wrapper {
  margin: 30px 0px !important;
}
.delete-invoicemodal .v-card__title {
  background: #fafafa;
  border-bottom: 1px solid #e1e6ef;
}
.delete-invoicemodal .v-card__text {
  padding: 8px 8px 10px !important;
}
.set-invoice-modal button {
  text-transform: capitalize;
  margin: 0px !important;
  margin-top: 10px !important;
}
.set-invoice-modal {
  display: flex;
}
.registraction-inpu-modal {
  text-align: left;
}
.registraction-inpu-modal input {
  border-bottom: 2px dotted #aaa;
  margin-bottom: 2px;
  margin-left: 8px;
}
.registraction-inpu-modal input:focus-visible {
  outline: none;
}
.registraction-inpu-modal input:focus {
  border-color: #3a67ff !important;
}
.registraction-inpu-modal input[type="text"]:focus {
  background: #fff !important;
  color: #257eff !important;
}
.registraction-inpu-modal i {
  font-size: 15px;
  vertical-align: bottom;
  margin-bottom: 3px;
  border-bottom: 1px solid #aaa;
}

/******24-12-2024**************/

.date-time-picker .field-input {
  height: 24px !important;
  /* width: 150px !important; */
  min-height: 24px !important;
  padding-right: 10px !important;
  font-size: 13px !important;
  outline: none !important;
  border-color: #fff !important;
  outline: none !important;
  background-color: transparent !important;
}
.date-time-picker .custom-button.round {
  display: none !important;
}
.invoice-details-wrapper .v-input.form-control {
  outline: none !important;
}
.invoice-details-wrapper
  .v-text-field--outlined
  > .v-input__control
  > .v-input__slot {
  outline: none !important;
  min-height: 0px !important;
  height: 0px !important;
}
.datetimepicker .datepicker {
  z-index: 999 !important;
}
.v-input__control,
.v-input__slot,
.v-select__slot {
  border: 0;
}
.invoice-details-wrapper .v-input__slot::before {
  border-style: none !important;
}
.invoice-details-wrapper .v-input.form-control {
  border-radius: 3px;
  cursor: pointer;
  z-index: 0;
  background: rgba(0, 0, 0, 0.015);
  border: 2px dashed rgba(0, 0, 0, 0.05);
  opacity: 1;
  padding: 0px !important;
  width: 100%;
  height: 24px !important;
}
.delete-invoicemodal label {
  text-align: left;
  display: flex;
}
.custom-modalinnerwrapper {
  text-align: left;
}
.custom-modalinnerwrapper .v-card__title {
  height: 50px;
}
.country-selectb .v-select__selection--comma {
  font-size: 13px;
}
.country-selectb input {
  display: none;
}
.invoice-box table.responsive-table tbody tr.item {
  display: block;
}
td.description-tablebody {
  float: left;
  width: 100% !important;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.invoice-box table tr.heading td:nth-child(1) {
  width: 185px;
}
.invoice-box table tr.heading td:nth-child(2) {
  width: 100px;
}
.invoice-box table tr.heading td:nth-child(3) {
  width: 90px;
}
.invoice-box table tr.heading td:nth-child(4) {
  width: 100px;
}
.invoice-box table tr.heading td:nth-child(5) {
  width: 110px;
}
.invoice-box table tr.item td:nth-child(1) {
  width: 185px;
}
.invoice-box table tr.item td:nth-child(2) {
  width: 100px;
}
.invoice-box table tr.item td:nth-child(3) {
  width: 90px;
}
.invoice-box table tr.item td:nth-child(4) {
  width: 100px;
}
.invoice-box table tr.item td:nth-child(5) {
  width: 110px;
}
.currency-symbol-mainwrapper .v-input__append-inner {
  margin-top: 3px !important;
}
.v-input__append-inner {
  margin-top: 10px !important;
}
.sender-modal-mainwrapper .v-menu__content--fixed {
  position: absolute;
  top: 16% !important;
  left: 49% !important;
}
.v-menu__content {
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 20px 3rem rgb(0 0 0 / 20%);
}
::-webkit-scrollbar {
  width: 10px;
}
.v-list-item__content:hover {
  color: #000000 !important;
  z-index: 999;
}
/************************* Dashboard Css  ***************************************/
.dashboard-username-wrapper {
  padding: 10px 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin: 2rem 0rem 15px;
}
.userdetails-asidewrapper {
  background-color: rgb(255, 255, 255) !important;
  width: 200px !important;
  overflow: hidden auto !important;
  box-shadow: rgb(212 210 219) 0px 0px 2px;
}
.dashboard-username-wrapper p {
  margin-bottom: 0px !important;
  word-break: break-all;
  font-size: 14px;
}
.dashboard-sidebar-selectedheading-wrapper a {
  color: #000;
  font-size: 14px !important;
  text-align: left;
  padding-left: 12px;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}
.dashboard-sidebar-selectedheading-wrapper .v-list-item__title {
  color: #000;
  font-size: 14px !important;
  text-align: left;
  padding-left: 12px;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}
.dashboard-sidebar-selectedheading-wrapper .v-list-item__action {
  margin-right: 10px !important;
}
button.sidebar-paymentbtn-wrapper {
  background: #90a7b8 !important;
  color: #fff !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 13px !important;
  border-radius: 3px;
  margin: 25px 0px !important;
  letter-spacing: 0.5px !important;
  text-transform: capitalize;
  padding: 0 10px !important;
}
.dashboard-sidebar-document-wrapper {
  background-color: #552cf6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem !important;
  width: 2.5rem;
  border-radius: 50px !important;
}
.dashboard-sidebar-account-wrapper {
  background-color: #2cadf6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem !important;
  width: 2.5rem;
  border-radius: 50px !important;
}
.dashboard-sidebar-selectedheading-wrapper a:active {
  background-color: #fff !important;
}
.background_color {
  width: 100%;
  background: #f6f5f9;
}
.layout.login-page-main-wrapper {
  justify-content: center;
  background-color: #f8f8f8;
}
.login-form-body-wrapper {
  padding: 50px;
}

button.account-btn-wrapper span.icon.mdi.mdi-google {
  color: #fff;
  font-size: 15px;
}
button.account-btn-wrapper a.google-word {
  color: #fff !important;
  font-size: 15px;
  text-transform: capitalize;
  padding-left: 8px;
}
button.account-btn-wrapper:hover {
  opacity: 0.8;
}
.bank-template-mainwrapper {
  padding: 30px;
  order: 1px solid rgba(0, 0, 0, 0.07) !important;
  background: #fff;
  box-shadow: 2px 2px 0 rgb(0 0 0 / 7%), 1px 1px 3px rgb(0 0 0 / 6%) !important;
  border-radius: 4px;
}
.bank-template-mainwrapper label {
  color: #888;
  font-size: 14px;
  margin-bottom: 1rem;
}
.bank-template-mainwrapper:hover .invoice-type-innerwrapper {
  border-radius: 3px;
  cursor: pointer;

  background: rgba(0, 0, 0, 0.015);
  border: 2px dashed rgba(0, 0, 0, 0.05);
  opacity: 1;
}
.bank-template-mainwrapper:hover .invoice-type-innerwrapper-one {
  border-radius: 3px;
  cursor: pointer;

  background: rgba(0, 0, 0, 0.015);
  border: 2px dashed rgba(0, 0, 0, 0.05);
  opacity: 1;
}
.sender-contentbodywrapper {
  position: absolute;
  top: 32px;
}
.sender-contentbodywrapper span {
  position: absolute;
  font-size: 25px;
}
.sender-contentbodywrapper h5 {
  font-size: 15px;
  font-weight: 400;
  padding-left: 40px;
}
.sender-contentbodywrapper p {
  font-size: 12px;
  padding-left: 40px;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.recipientbackground-wrapper {
  position: absolute;
  top: 32px;
}
.recipientbackground-wrapper span {
  position: absolute;
  font-size: 25px;
}
.recipientbackground-wrapper h5 {
  font-size: 15px;
  font-weight: 400;
  padding-left: 40px;
}
.recipientbackground-wrapper p {
  font-size: 12px;
  padding-left: 40px;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.due-date-calanderwrapper {
  height: 50px !important;
  width: 123px;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-left: 2px;
  align-items: center;
}
.due-date-calanderwrapper span {
  font-size: 14px;
}
.due-content-heading {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.due-content-heading h4 {
  font-size: 15px;
}
.invoice-mainwrapper {
  padding: 2px 0px;
}
.invoice-contentwrapper {
  padding: 2px 0px;
}
.invoice-contentwrapper .invoice-type-innerwrapper {
  padding: 0px;
  width: 124px;
  height: 20px;
  display: flex;
  align-items: center;
}
.invoice-contentwrapper .invoice-type-innerwrapper-one {
  padding: 0px;
  width: 124px;
  height: 20px;
  display: flex;
  align-items: center;
}
.invoice-contentwrapper span {
  font-size: 12px;
}
.invoice-mainwrapper h4 {
  font-size: 14px;
  text-align: left;
}
.invoice-setting-innerwrapper h4 {
  padding: 0 0 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 40px;
  text-align: left;
  color: #000;
}
.currency-symbol-mainwrapper {
  text-align: left;
  margin-bottom: 10px;
}
.currency-symbol-mainwrapper label {
  font-size: 15px;
}
.addpayment-line-wrapper {
  text-align: left;
}
.addpayment-line-wrapper ul {
  list-style-type: none;
  padding-left: 0px;
}
.addpayment-line-wrapper ul li {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.addpayment-line-wrapper ul li:hover {
  background-color: #fff;
  border-radius: 4px;
}
.addpayment-line-wrapper ul li.delete-icon-innerwrapepr:hover {
  background-color: #ea736a !important;
  color: #fff !important;
  border-radius: 4px;
}
.addpayment-line-wrapper ul li i {
  padding-right: 10px;
  font-weight: 400;
}
.invoice-type-innerwrapper:hover {
  outline: 2px solid #257eff;
}
.invoice-type-innerwrapper-one:hover {
  outline: 2px solid #257eff;
}
.preview:hover {
  outline: 2px solid #257eff;
}
.invoice-mainbodywrapper hr {
  color: #999 !important;
  margin: 5px 0px 23px;
  border-top: 1px solid #eee;
}
.invoice-mainbodywrapper {
  margin-top: 15px;
}
button.save-btn {
  background: #dedce6 !important;
  color: #000 !important;
  cursor: pointer;
  padding: 20px 30px !important;
  box-shadow: none !important;
}
button.save-btn:hover {
  background: #2cadf6 !important;
  color: #fff !important;
}
button.downlaod-btn {
  background: #552cf6 !important;
  color: #fff !important;
  /* padding: 20px 30px !important; */
}
button.downlaod-btn:hover {
  background: #285cff !important;
}
.sender-modal-mainwrapper label {
  display: flex;
  font-size: 13px;
  color: #7d8592;
}
i.fa.fa-times.sender-modalwrapper-closebtn {
  background-color: #fafafa !important;
  box-shadow: none !important;
  position: absolute;
  right: 10px;
  top: 5px;
  opacity: 0.4;
}
i.fa.fa-times.sender-modalwrapper-closebtn:hover {
  opacity: 1;
}
i.fa.fa-times.sender-modalwrapper-closebtn {
  font-size: 25px !important;
  font-weight: 300;
}
i.fa.fa-times.sender-modalwrapper-closebtn:hover {
  background-color: #fafafa !important;
}
.sender-modal-mainwrapper .v-card__title {
  border-bottom: 1px solid #e1e6ef;
  background: #fafafa;
  height: 50px;
}
button.sender-modalwrapper-closebtn:hover::before {
  opacity: 0 !important;
}
.sender-btnwrapper button {
  width: 100%;
  background: #285cff !important;
  border: none;
  color: #fff !important;
  text-transform: capitalize;
  font-weight: 400 !important;
  font-size: 15px;
}
.border-wrapper-modal::before {
  content: "";
  width: 88%;
  height: 1px;
  background-color: #eee;
  position: absolute;
  left: 34px;
}
span.new-client-innerwrapper {
  font-size: 17px;
  margin-top: -6px;
}
.new-client-innerwrapper {
  justify-content: right;
}
.new-client-innerwrapper button {
  background: #285cff !important;
  color: #fff !important;
  border: none;
  border-radius: 0px !important;
}
.new-client-innerwrapper button:hover {
  border: 1px solid #458ccf;
  box-shadow: inset 0 0 0 1px #458ccf;
  background: rgba(69, 140, 207, 0.05) !important;
  color: #458ccf !important;
}
label.form-label-outside.taxt-registration-number::after {
  content: "";
  position: absolute;
  border-bottom: 1px dashed #000;
  width: 150px;
  margin-top: 18px;
  margin-left: 1px;
}
label.form-label-outside.taxt-registration-number i {
  font-size: 10px !important;
  padding-top: 8px;
  margin-right: 8px;
  color: #000 !important;
}
.sender-modal-mainwrapper .v-card__text {
  background-color: #fefefe;
}
.getlink-modalwrapper .v-card__text {
  padding: 25px 8px 10px !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.getlink-modalwrapper .v-card__text button {
  width: 80%;
  box-shadow: none !important;
  background: #285cff !important;
  color: #fff !important;
}

.drap-icon-inputfield {
  position: absolute;
  top: -8px;
  width: 27%;
}
.invoice-type-innerwrapper.mainwrapper-first-row p {
  font-size: 14px !important;
  margin-bottom: 0px !important;
  color: #888;
  width: 75px;
}
.invoice-type-innerwrapper-one.mainwrapper-first-row p {
  font-size: 14px !important;
  margin-bottom: 0px !important;
  color: #888;
  width: 75px;
}
.invoice-contentwrapper input {
  width: 100px;
  font-size: 13px !important;
}
.invoice-contentwrapper input:focus-visible {
  border: none !important;
  outline: none;
}

/********************************table css */
.invoice-box {
  padding: 9px;
  font-size: 16px;
  color: #555;
}
.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}
.invoice-box table td {
  padding: 5px;
}
.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
}
.invoice-box table tr.heading {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: block;
}
.invoice-box table tr.details td {
  padding-bottom: 20px;
}
.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
  font-size: 13px;
}
.invoice-box table tr.item input {
  padding-left: 5px;
}
.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }

  .invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}
/* RTL */
.rtl {
  direction: rtl;
  font-family: Tahoma, "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
}

.rtl table {
  text-align: right;
}

.rtl table tr td:nth-child(2) {
  text-align: left;
}
/* image css here  */
.image-input {
  display: block;
  width: 200px;
  height: 200px;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
}
.placeholder {
  background: #f0f0f0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 14px;
  font-family: Helvetica;
}
.placeholder:hover {
  background: #285cff;
  color: #fff !important;
  border: none;
}
.file-input {
  display: none;
}
.remove-logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  outline: 2px solid #46baf9;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}
